{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
<link href="{{=URL('static','js/chessboardjs/css/chessboard-0.3.0.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{=URL('static','/css/index.css')}}" rel="stylesheet" type="text/css"/>
{{end}}

<div class="main_content">

  <div class="chess_page container">

    <div class="container quarter controls">
      <input class="game_button right" type="button" id="setStartBtn" value="New Game" />
      <br>
      <br>
      <input class="game_button right" type="button" id="undoMove" value="Undo Move" />
      <br>
      <br>
      <!-- <input class="game_button right" type="button" id="testTable" value="Test Table" /> -->
      <!-- <input class="game_button" type="button" id="flipSides" value="Flip Sides" /> -->
    </div>

    <div class="container center half chess_board">
      <h2 class="center title"> Chess AI </h2>
      <div id="board" style="width: 95%"></div>
    </div>

    <div class="container info quarter">
      <div class="left">
        <label class="left depth_label"> Search depth: </label>
        <select id="search-depth" class=" depth_selection">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected="">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>
      <br>
      <br>
      <span>Positions evaluated: <span id="position-count"></span></span>
      <br>
      <span>Time: <span id="time"></span></span>
      <br>
      <span>Positions/s: <span id="positions-per-s"></span> </span>
      <br>
      <span>Current Evaluation: <span id="current-evaluation"></span> </span>
      <br>
      <br>
      <label> Moves </label>
      <div id="move-history" class="move_history"> </div>
    </div>
  </div>

</div>

<script src="{{=URL('static', 'js/chessjs/chess.js')}}"></script>
<script src="{{=URL('static', 'js/chessboardjs/js/chessboard-0.3.0.js')}}"></script>
<script src="{{=URL('static', 'js/cache.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>


