
.chess_page {

	margin-left: 10px;
	margin-right: 10px;

}

.chess_board {
	margin-bottom: 10px;
}

#board {
	/*width: 30%;*/
}

.title {
	margin-top: 5px !important;
}

.progress {
	margin-left: 12%;
	margin-bottom: 5px;
}

.info {
	margin-top: 62px
}

.controls {
	margin-top: 62px;
}

.depth_selection {
	text-align: center;
	width: 20%;
}

.depth_label {
	width: 75%;
	padding-right: 10px;
}

.time_selection {
	text-align: center;
	width: 49%;
}

.time_label {
	width: 49%;
	padding-right: 10px;
}

.move_history {
	max-height: 300px;
	overflow-y: scroll;
}

.fen_container {
	margin-top: 5px;
	margin-bottom: 5px;
}

.fen_input {
	width: 90% !important;
}

.fen_label {
	width: 7%;
}
