
.chess_page {

	margin-left: 10px;
	margin-right: 10px;

}

.chess_board {
	margin-bottom: 10px;
}

#board {
	/*width: 30%;*/
}

.title {
	margin-top: 5px !important;
}

.progress {
	margin-left: 12%;
	margin-bottom: 5px;
}

.info {
	margin-top: 62px
}

.controls {
	margin-top: 62px;
}

.depth_selection {
	text-align: center;
	width: 25%;
}

.depth_label {
	width: 70%;
	padding-right: 10px;
}

.move_history {
	max-height: 330px;
	overflow-y: scroll;
}
